@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap");

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  background-color: rgb(245, 245, 245);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}


/* ============================
CUSTOM CSS STARTS HERE
============================ */

:root {
  font-family: "Roboto", "Century Gothic", serif;
  font-size: 10px;

}

.nav-bar {
  position: relative;
}

#top-nav {
  background-color: rgba(236, 236, 236, .2);
  margin: 0 auto;
}

.container {
  width: 118.8rem;
  /* max-width: 50%; */
  margin: 0 auto;
  /* position: relative; */
}

/* #top-nav ul {
    position: relative;
    left: 20vw;
} */

.top-nav-li {
  display: inline;
  text-transform: uppercase;
  text-decoration: none;
}

.top-nav-li a {
  text-decoration: none;
  line-height: 2.5rem;
  font-size: 1.2rem;
  color: rgb(50, 50, 50);
  padding: 0 1.7rem 0 1.7rem;
  font-weight: 400;
}

.top-nav-li a:hover {
  color: #f36f36;
  text-decoration: underline;
}

#app a {
  color: #f36f36;
}

.header {
  height: 7.5rem;
  padding-top: 1.1rem;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  /* clear: right; */
}

.logo {
  float: left;
  width: 20rem;
  height: 3.9rem;
  vertical-align: top;
}

img {
  width: 13.5rem;
}

input[type="text"] {
  width: 65rem;
  height: 4.5rem;
  line-height: 1.4rem;
  padding: 1.3rem 1.9rem;
  box-sizing: border-box;
  background-color: rgb(245, 245, 245);
  border: none;
  border-right: none;
  float: left;
  font-size: 1.4rem;
}

#search-button {
  float: left;
  width: 4.5rem;
  height: 4.5rem;
  padding-left: 0;
  padding-right: 0;
  background: #f36f36 url("images/searchLogo.svg") 100% no-repeat;
  border: none;
  border-radius: 0 2px 2px 0;
  color: #fff;
  cursor: pointer;
  background-size: 24px 200px;
  background-position: center;
}

.shoppingCart {
  float: left;
}

.shoppingCart img {
  float: left;
  margin-left: 3rem;
  margin-top: 1rem;
  width: 2.5rem;
}

#DLApp {
  float: right;
}

#DLApp img {
  margin-left: 4rem;
  width: 18.8rem;
}

.slider {
  height: 34.4rem;
  background: rgb(255, 220, 220);
}

.slider .container {
  background: rgb(160, 76, 76);
}

.slider h2 {
  font-size: 10rem;
  color: rgb(250, 180, 180);
  text-align: center;
  line-height: 34.4rem;
}

.left-menu-wrap {
  /* float: left; */
  position: relative;
  /* left: 25%; */
  /* margin-left: auto;
  margin-right: auto; */
  top: -34.4rem;
  margin-bottom: -34.4rem;
  /*Credit goes to Stackoverflow :D*/
  /* background: #f36f36; */
}

.master-menu-left {
  /* float: left; */
  box-sizing: border-box;
  /* position: relative; */
  z-index: 1000;
  /* top: 10rem;
  left: 20.5rem; */
  height: 34.4rem;
  width: 20rem;
  background-color: rgb(255, 255, 255);
  padding-top: 0.8rem;
  padding-bottom: 1.2rem;
  border-left: 1px solid rgb(240, 240, 240);
  border-bottom: 1px solid rgb(240, 240, 240);
}

.left-menu-item {
  /* display: block; */
  list-style: none;
}

.left-menu-item a {
  text-decoration: none;
  font-size: 1.3rem;
  padding-left: 0.8rem;
  line-height: 2.7rem;
  color: rgb(110, 110, 110);
}

.section {
  overflow: hidden;
  margin-top: 5rem;
  /* background-color:grey;  */
  clear: both;
  margin-bottom: 5rem;
}

.section h2 {
  font-size: 2.5rem;
  color: rgb(40, 40, 40);
  text-transform: uppercase;
  margin-bottom: 1rem;

}

.category {
  box-sizing: border-box;
  float: left;
  background-color: rgb(255, 255, 255);
  width: 14.7rem;
  height: 14.7rem;
  margin-right: .15rem;
  margin-bottom: .15rem;
  border: .1rem solid white;
}

.category:hover {
  border: .1rem solid rgb(240, 240, 240);
  cursor: pointer;
}

.category .image {
  background-color: darkgray;
  width: 8rem;
  height: 8rem;
  margin: 1rem auto;

}

.category .caption {
  /* background-color: grey; */
  width: 12rem;
  height: 4rem;
  margin: 0 auto;

}

.image img {
  max-width: 8rem;
  max-height: 8rem;
}

.caption span {
  display: block;
  text-align: center;
  font-size: 1.7rem;

}

.brands:last-child {
  float: right;
  margin-right: 0;

}

.brands {
  box-sizing: border-box;
  float: left;
  background-color: rgb(255, 255, 255);
  width: 15.5%;
  height: 25rem;
  margin-right: 1.65rem;
  margin-bottom: .15rem;
  border: .1rem solid white;
}

.brands:hover {
  border: .3rem solid rgb(240, 240, 240);
  cursor: pointer;
}

.brands .image {
  /* background-color:darkgray; */
  width: 100%;
  height: 100%;
  margin: 0 auto;

}

.brands .caption {
  background-color: rgb(240, 240, 240);
  width: 100%;
  height: 9.5rem;
  margin: 0 auto;
  position: relative;
  top: -7rem;
  /* margin-bottom: -10rem; */
  z-index: 100;
  border: none;

}

.brands .image img {
  display: block;
  margin: 0 auto;
  min-width: 100%;
  max-height: 100%;
}

.brands .caption img {
  background-color: rgb(255, 255, 255);
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 5rem;
  position: relative;
  top: -3rem;
  margin-bottom: -3rem;
  border: .4rem solid white;
}

.brands .caption span {
  margin-top: .7rem;
  display: block;
  text-align: center;
  font-size: 1.3rem;
}

.brands .caption .brand-tagline {
  font-size: 1.2rem;
  color: rgb(90, 90, 90);
}

.footer-first {
  overflow: hidden;
  /* width: 100%; */
  height: 36rem;
  background-color: rgb(46, 46, 84);
  margin-bottom: 2rem;
  color: white;
  padding: 2rem 10rem 2rem 0;
}

.customer-care {
  float: left;
  width: 30%;
}

.customer-care h2 {
  font-weight: 400;
  font-size: 2rem;
  margin-top: .5rem;
}

.customer-care ul {
  margin-top: 1.5rem;
  margin-bottom: 2rem;

}


.customer-care ul li {
  list-style-type: none;
  line-height: 2rem;
}

.customer-care ul li a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

.customer-care ul li a:hover {
  text-decoration: underline;
}

.about-daraz h2 {
  margin-top: 4rem;
}

.appstores {
  margin-top: 2rem;
}

.appstores img {
  margin-right: 2rem;
}

#apple {
  width: 12rem;
}

.footer-second {
  background-color: gray;
}