@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap');

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* CUSTOM CSS STARTS HERE */

:root {
  font-family: "Roboto", "Century Gothic", serif;
  font-size: 10px;
}
.nav-bar {
  position: relative;
}

#top-nav {
  background-color: rgb(240, 240, 240);
  margin: 0 auto;
}

.container {
  width: 118.8rem;
  margin: 0 auto;
}

/* #top-nav ul {
    position: relative;
    left: 20vw;
} */

.top-nav-li {
  display: inline;
  text-transform: uppercase;
  text-decoration: none;

}

.top-nav-li a {
  text-decoration: none;
  line-height: 2.5rem;
  font-size: 1.2rem;
  color: rgb(50, 50, 50);
  padding: 0 1.7rem 0 1.7rem;
  font-weight: 400;
}

.top-nav-li a:hover {
  color: #f36f36;
  text-decoration: underline;
}

#app a {
  color: #f36f36;
}

.header {
  height: 7.5rem;
  padding-top: 1.1rem;
  box-sizing: border-box;
  clear: right;
}

.logo {
  float: left;
  width: 20rem;
  height: 3.9rem;
  vertical-align: top;
}

img {
  width: 13.5rem;
}

input[type="text"] {
  width: 65rem;
  height: 4.5rem;
  line-height: 1.4rem;
  padding: 1.3rem 1.9rem;
  box-sizing: border-box;
  background-color: rgb(240, 240, 240);
  border: none;
  border-right: none;
  float: left;
  font-size: 1.4rem;
}

#search-button {
  float: left;
  width: 4.5rem;
  height: 4.5rem;
  padding-left: 0;
  padding-right: 0;
  background: #f36f36 url('images/searchLogo.svg') 100% no-repeat;
  border:none;
  border-radius: 0 2px 2px 0;
  color: #fff;
  cursor: pointer;
  background-size: 24px 200px;
  background-position: center;
}

.shoppingCart {
  float: left;


}

.shoppingCart img {
  float: left;
  margin-left: 3rem;
  margin-top: 1rem;
  width: 2.5rem;
}

#DLApp {
  /* float: right; */
}

#DLApp img {
  margin-left: 4rem;
  width: 18.8rem;
}

.slider {
  height: 34.4rem;
  background: rgb(255, 220, 220);
}
.slider .container {
  
  background: rgb(160, 76, 76);
}
.slider h2 {
  font-size: 10rem;
  color: rgb(250, 180, 180);
  text-align: center;
  line-height: 34.4rem;
}
.master-menu-left {
  box-sizing: border-box;
  position: relative;
  top: -34.4rem;
  left: 8rem;
  height: 34.4rem;
  width: 20rem;
  background-color: rgb(255, 255, 255);
  padding-top: .8rem;
  padding-bottom: 1.2rem;
  border-left: 1px solid rgb(240, 240, 240);
  border-bottom: 1px solid rgb(240, 240, 240);
}

.left-menu-item {
/* display: block; */
padding-left: .8rem;
list-style: none;

}
.left-menu-item a {
text-decoration: none;
font-size: 1.3rem;
line-height: 2.7rem;
color: rgb(110, 110, 110);
}